<div class="row justify-content-center">
  <div class="col-12">
    <h2 class="h3 mb-3 page-title">invoices</h2>
    <!-- <div class="row mb-4 items-align-center" *ngIf="summary.getSummary">
      <div class="col-md">
        <ul class="nav nav-pills justify-content-start">
          <li class="nav-item">
            <a class="nav-link active bg-transparent pr-2 pl-0 text-warning">All <span class="badge badge-pill bg-dark text-white ml-2">0</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2">Total Sales <span class="badge badge-pill bg-white border ml-2">0</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2">Profit <span class="badge badge-pill bg-white border  ml-2">00</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2">Commission <span class="badge badge-pill bg-white border  ml-2">00</span></a>
          </li>
        </ul>
      </div>
    </div> -->
    <table class="table border table-hover ">
      <thead class="thead-dark">
        <tr role="row">
          <th>User</th>
          <th>Customer</th>
          <th>Sub Total</th>
          <th>Vat</th>
          <th>Total</th>
          <th>Status</th>
          <th>Date Paid</th>
          <th>Date Created</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <div *ngIf="loading$ | async" class="d-flex justify-content-center my-3">
          <div class="spinner-border"></div>
        </div>
        <tr *ngFor="let invoice of invoices$ | async | paginate: { itemsPerPage: 20, currentPage:p };let i=index">
          <td>{{ invoice.user?.fname }}</td>
          <td>{{ invoice.customerName }}</td>
          <td>{{ invoice.subtotal | currency:'₵' }}</td>
          <td>{{ invoice.vat }}%</td>
          <td>{{ invoice.total | currency:'₵' }}</td>
          <td><span class="badge badge-warning">{{ invoice.status }}</span></td>
          <td>{{ invoice.datePaid | date }}</td>
          <td>{{ invoice.createdAt | date }}</td>
          <td>
            <button (click)="view(invoice)" class="btn btn-primary">
                <span class="fe fe-edit-3"></span>
              </button>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="p=$event"></pagination-controls>

  </div>
</div>