<nav class="topnav navbar navbar-light">
    <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
      <!-- <i class="fe fe-menu navbar-toggler-icon"></i> -->
      <div class="d-md-block d-lg-none" *ngFor="let menu of menus[(currentUser$ | async)?.account]">
        <p class="text-muted nav-heading mt-4 mb-1">
          <span>{{menu.title}}</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
          <li class="nav-item w-100" *ngFor="let sub of menu.submenus">
            <a class="nav-link" routerLink="{{ sub.link }}">
              <i class="fe {{ sub.icon }} fe-16"></i>
              <span class="ml-3 item-text">{{ sub.name }}</span>
              <span *ngIf="sub.link==='subscriptions'" class="badge badge-pill badge-success">
                {{ (currentUser$ | async)?.daysRemaining }}days
              </span>
            </a>
          </li>
        </ul>
      </div>

    </button>
    <ul class="nav">
      <li class="nav-item nav-notif">
        <a class="nav-link text-muted my-2" data-toggle="modal" data-target=".modal-notif">
          <span class="fe fe-bell fe-16"></span>
          <span class="dot dot-md bg-success"></span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted pr-0" routerLink="profile" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="avatar avatar-sm mt-2">
            <img src="../../../assets/img/logo.jpeg" alt="..." class="avatar-img rounded-circle">
          </span>
        </a>
      </li>
    </ul>
  </nav>