<div class="row justify-content-center">
  <div class="col-12">
    <small class="h3 mb-3 page-title">subscriptions</small>
    <div class="row mb-4 items-align-center">
      <div class="col-md-auto ml-auto text-right">
        <!-- <button type="button" class="btn" data-toggle="modal" data-target=".modal-slide"><span class="fe fe-filter fe-16 text-muted"></span></button> -->
        <button type="button" class="btn"><span class="fe fe-refresh-ccw fe-16 text-muted"></span></button>
      </div>
    </div>
    
    <table class="table border table-hover bg-white">
      <thead class="thead-dark">
        <tr role="row">
          <th>ID</th>
          <th>Bay</th>
          <th>Amount</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Days Remaining</th>
          <th>Code</th>
          <th>Expired</th>
          <th>Date Created</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <div *ngIf="loading$ | async" class="d-flex justify-content-center my-3">
          <div class="spinner-border"></div>
        </div>
        <tr *ngFor="let sub of subscriptions$ | async | paginate: { itemsPerPage: 20, currentPage: p }">
          <td>{{ sub._id | uppercase }}</td>
          <td>{{ sub.bay.name }}</td>
          <td>{{ sub.amount | currency:'₵' }}</td>
          <td>{{ sub.startDate | date }}</td>
          <td>{{ sub.endDate | date }}</td>
          <td>{{ sub.daysRemaining || sub.nod }}days</td>
          <td>{{ sub.code | uppercase }}</td>
          <td>{{ sub.status }}</td>
          <td>{{ sub.createdAt | date }}</td>
          <td [ngSwitch]="sub.status==='active'">
            <span *ngSwitchCase="true" class="dot dot-lg bg-success mr-2"></span>
            <span *ngSwitchCase="false" class="dot dot-lg bg-danger mr-2"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    
  </div>
</div> <!-- .row -->