<div [formGroup]="formGroup">
  <div class="row justify-content-center">
    <div class="col-12">
      <strong>customers</strong>
      <div class="row mb-4 items-align-center">
        <div class="col-md">
          <ul class="nav nav-pills justify-content-start">
            <li class="nav-item">
              <a class="nav-link active bg-transparent pr-2 pl-0 text-warning">All <span class="badge badge-pill bg-dark text-white ml-2">
                {{ customerCount$ | async }}
              </span></a>
            </li>
          </ul>
        </div>
        <div class="col-md-auto ml-auto text-right">
          <!-- <span class="small bg-white border py-1 px-2 rounded mr-2 d-none d-lg-inline">
            <a href="#" class="text-muted"><i class="fe fe-x mx-1"></i></a>
            <span class="text-muted">Status : <strong>Pending</strong></span>
          </span> -->
          <!-- <span class="small py-1 px-2 rounded mr-2 d-none d-lg-inline form-group-row">
            <input formControlName="search" type="text" class="text-muted bg-white border py-1 px-2 rounded mr-2 d-none d-lg-inline" placeholder="search">
          </span>
          <span class="small bg-white border py-1 px-2 rounded mr-2 d-none d-lg-inline">
            <a class="text-muted"><i class="fe fe-x mx-1"></i></a>
            <span class="text-muted">{{ formGroup.get('search').value }}</span>
          </span>
          <button (click)="filter()" type="button" class="btn" data-toggle="modal" data-target=".modal-slide"><span class="fe fe-filter fe-16 text-muted"></span></button> -->
          <button (click)="refresh()" type="button" class="btn"><span class="fe fe-refresh-ccw fe-16"></span></button>
        </div>
      </div>
    </div> 
  </div> <!-- .row -->
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
      <!-- table -->
      <div class="">
        <div class="card-body">
          <table class="table table-bordered table-hover mb-0">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Birth Day</th>
                <th>Birth Month</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <div *ngIf="loading$ | async" class="d-flex justify-content-center my-3">
                <div class="spinner-border"></div>
              </div>
              <tr *ngFor="let customer of customers$ | async | paginate: { itemsPerPage: 20, currentPage: p };let i=index;">
                <td>
                  <div class="avatar avatar-sm">
                    <p class="mb-0">{{ customer._id | slice:0:10 }}</p>
                  </div>
                </td>
                <td>
                  <p class="mb-0">{{ customer.name }}</p>
                </td>
                <td>
                  <p class="mb-0">{{ customer.phone }}</p>
                  <!-- <small class="mb-0 text-muted">Ap #331-7123 Lobortis Avenue</small> -->
                </td>
                <td>
                  <p class="mb-0">{{ customer.birthDay ?? "N/A" }}</p>
                </td>
                <td>
                  <p class="mb-0">{{ customer.birthMonth ?? "N/A" }}</p>
                </td>
                <td >{{ customer.createdAt | date }}</td>
                <td>
                  <button class="btn btn-sm btn-primary" 
                    type="button"
                    (click)="formGroup.get('customer').patchValue(customer);onedit=true"
                    >
                    edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>
    </div> <!-- .col-12 -->
    <div class="col-md-6 col-sm-6">
      <div class="card-deck">
        <div class="border mb-4">
          <div class="card-header">
            <strong class="card-title">Add Customer</strong>
          </div>
          <div class="card-body" formGroupName="customer">
            <div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Name*</label>
                  <input formControlName="name" type="text" class="form-control" id="inputEmail4" placeholder="">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Phone Number*</label>
                  <input formControlName="phone" type="text" class="form-control" id="inputPassword4" placeholder="">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Birth Day</label>
                  <select formControlName="birthDay" class="form-control select2-multi" id="multi-select2">
                      <option value="">---</option>
                      <option *ngFor="let day of days" [value]="day">
                        {{ day }}
                      </option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Birth Month</label>
                  <select formControlName="birthMonth" class="form-control select2-multi" id="multi-select2">
                      <option value="">---</option>
                      <option *ngFor="let month of months" [value]="month">
                        {{ month }}
                      </option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <button *ngIf="onedit" [disabled]="loading" [ngSwitch]="loading" type="submit" class="btn btn-danger" (click)="formGroup.reset();onedit=false;">
                  <span *ngSwitchCase="false">Cancel</span>
                  <div *ngSwitchCase="true" class="spinner-border"></div>
                </button>
                <button [disabled]="loading" [ngSwitch]="loading" type="submit" class="btn btn-primary" (click)="save()">
                  <span *ngSwitchCase="false">Submit</span>
                  <div *ngSwitchCase="true" class="spinner-border"></div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / .card-desk-->
    </div> <!-- .col-12 -->
  </div> <!-- .row -->
</div>