<div class="row justify-content-center" *ngIf="summary$ | async as summary">
    <div class="col-12">
      <div class="row align-items-center mb-2">
        <div class="col">
          <h2 class="h5 page-title" *ngIf="currentUser$ | async as user">Welcome! {{ user.fname }} {{ user.lname }}</h2>
        </div>
        <div class="col-auto">
          <form class="form-inline">
            <div class="form-group d-none d-lg-inline">
              <label for="reportrange" class="sr-only">Date Ranges</label>
              <div id="reportrange" class="px-2 py-2 text-muted">
                <span class="small"></span>
              </div>
            </div>
            <div class="form-group">
              <button (click)="refresh()" type="button" class="btn btn-sm"><span class="fe fe-refresh-ccw fe-16 text-muted"></span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xl-2 mb-4">
          <div class="border bg-success text-white border-0">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col pr-0">
                  <p class="small text-black mb-0">Total Sales Amount</p>
                  <span class="h3 mb-0 text-white">{{ summary.all[0]?.sales || 0 | currency:'₵' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-2 mb-4">
          <div class="border bg-white">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col pr-0">
                  <p class="small mb-1">Sales Count</p>
                  <span class="h3 mb-0">{{ summary.all[0]?.count || 0 }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-2 mb-4">
          <div class="border bg-white">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <p class="small mb-1">Total Profit</p>
                  <div class="row align-items-center no-gutters">
                    <div class="col-auto">
                      <span class="h3 mr-2 mb-0">{{ summary.all[0]?.profit || 0 | currency:'₵' }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-2 mb-4">
          <div class="card border">
            <div class="card-body">
              <div class="row align-items-center">
                <!-- <div class="col-3 text-center">
                  <span class="circle circle-sm bg-dark">
                    <i class="fe fe-16 fe-activity text-white mb-0"></i>
                  </span>
                </div> -->
                <div class="col">
                  <p class="small mb-1">Total Commissions</p>
                  <span class="h3 mb-0">{{ summary.all[0]?.commissions || 0 | currency:'₵' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-2 mb-4">
          <div class="card border">
            <div class="card-body">
              <div class="row align-items-center">
                <!-- <div class="col-3 text-center">
                  <span class="circle circle-sm bg-dark">
                    <i class="fe fe-16 fe-activity text-white mb-0"></i>
                  </span>
                </div> -->
                <div class="col">
                  <p class="small mb-1">Cash Transactions</p>
                  <span class="h3 mb-0">{{ summary.getPaymentType('cash')?.sales || 0 | currency:'₵' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-2 mb-4">
          <div class="card border">
            <div class="card-body">
              <div class="row align-items-center">
                <!-- <div class="col-3 text-center">
                  <span class="circle circle-sm bg-dark">
                    <i class="fe fe-16 fe-activity text-white mb-0"></i>
                  </span>
                </div> -->
                <div class="col">
                  <p class="small mb-1">Mobile Money Transactions</p>
                  <span class="h3 mb-0">{{ summary.getPaymentType('momo')?.sales || 0 | currency:'₵' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end section -->
      <div class="row">
        <div class="col-md-4">
          <div class="card eq-card mb-4">
            <div class="card-body">
              <div class="card-title">
                <small>Sumerize</small>
                <!-- <a class="float-right small text-muted" href="#!">View all</a> -->
              </div>
              <div class="row mt-b">
                <div class="col-6 text-center mb-3 border-right">
                  <p class="text-muted mb-1">Today</p>
                  <h6 class="mb-1">{{ summary.today[0]?.sales || 0 | currency:'₵' }}</h6>
                  <p class="text-muted mb-2">+{{ summary.today[0]?.count }}</p>
                </div>
                <div class="col-6 text-center mb-3">
                  <p class="text-muted mb-1">This Month</p>
                  <h6 class="mb-1">{{ summary.month[0]?.sales || 0 | currency:'₵' }}</h6>
                  <p class="text-muted">+{{ summary.month[0]?.count }}</p>
                </div>
                <div class="col-6 text-center border-right">
                  <p class="text-muted mb-1">This Week</p>
                  <h6 class="mb-1">{{ summary.week[0]?.sales || 0 | currency:'₵' }}</h6>
                  <p class="text-muted mb-2">+{{ summary.week[0]?.count }}</p>
                </div>
                <div class="col-6 text-center">
                  <p class="text-muted mb-1">This Year</p>
                  <h6 class="mb-1">{{ summary.year[0]?.sales || 0 | currency:'₵' }}</h6>
                  <p class="text-muted">+{{ summary.year[0]?.count }}</p>
                </div>
              </div>
              <div class="chart-widget">
                <div id="columnChartWidget" width="300" height="200"></div>
              </div>
            </div> <!-- .card-body -->
          </div> <!-- .card -->
        </div> <!-- .col -->
        <div class="col-md-4">
          <div class="card eq-card mb-4">
            <div class="card-body">
              <div class="card-title">
                <small>Services</small>
              </div>
              <div class="row">
                <div class="col-md-12" *ngFor="let service of summary.services">
                  <div class="row align-items-center my-2">
                    <div class="col">
                      <strong>{{ service._id[0] }}</strong>
                      <br>
                      <div class="my-0 text-muted small">
                          <small>commission: {{ service.commissions | currency:'₵' }}</small>
                          <br>
                          <small>profit: {{ service.profit | currency:'₵' }}</small>
                          <br>
                          <small>count: {{ service.count }}</small>
                      </div>
                    </div>
                    <div class="col-auto">
                      <strong>{{ service.sales | currency:'₵' }}</strong>
                    </div>
                    <div class="col-3">
                        <!-- <small>{{ summary.calcPerc(service._id[0]) }}</small> -->
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': summary.calcPerc(service._id[0])}"  aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div> <!-- .col-md-12 -->
                <div class="col-md-12">
                  <div id="chart-box" class="mt-3">
                    <div id="pieChartWidget"></div>
                  </div>
                </div>
              </div> <!-- .row -->
            </div> <!-- .card-body -->
          </div> <!-- .card -->
        </div> <!-- .col-md-4 -->
        <!-- Map -->
        <div class="col-md-4">
          <div class="border bg-white mb-4">
            <div class="card-body">
              <div class="card-title">
                <small>Washers</small>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row align-items-center my-2" *ngFor="let washer of summary.washers">
                    <div class="col">
                      <ul class="list-unstyled">
                        <li *ngFor="let _washer of washer._id">
                          <strong>{{ _washer.fname }} {{ _washer.lname }}</strong>
                        </li>
                      </ul>
                    </div>
                    <div class="col-auto">
                      <small>Total Sales: {{ (washer.sales) || 0 | currency:'₵' }}</small>
                      <br>
                      <small>Earnings: {{ (washer.profit) || 0 | currency:'₵' }}</small>
                      <br>
                      <small>Number of Sales: {{ washer.count }}</small>
                    </div>
                  </div>
                </div> <!-- .col-md-12 -->
                <div class="col-md-12 mt-4">
                  <div class="map-box" style="position: relative; width: 320px; min-height: 170px; margin:0 auto;">
                    <div id="dataMapUSA"></div>
                  </div>
                </div>
              </div> <!-- .row -->
            </div> <!-- / .card-body -->
          </div> <!-- / .card -->
        </div> <!-- / .col-md-6 -->
      </div> <!-- / .row -->
      <div class="row">
        <!-- Recent orders -->
        <div class="col-md-12">
          <div class="eq-card">
            <div class="card-header">
              <strong class="card-title">Recent Sales</strong>
              <a class="float-right small text-muted" routerLink="../sales">View all</a>
            </div>
            <div class="card-body">
                <table class="table border table-hover bg-white">
                    <thead class="thead-dark">
                      <tr role="row">
                        <th>Sales ID</th>
                        <th>Purchase Date</th>
                        <th>Customer</th>
                        <th>Commission</th>
                        <th>Washer Commission</th>
                        <th>Service</th>
                        <th>Washer</th>
                        <th>Operations</th>
                        <th>Payment Type</th>
                        <th>Total</th>
                        <th>Earns</th>
                        <th>Status</th>
                        <th>Tracking #</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let sale of summary.getSales();let i=index">
                        <td>{{ sale.getid() }}</td>
                        <td>{{ sale.saleDate | date:'short' }}</td>
                        <td>{{ sale.customer.length>0 && sale.customer[0].name }}</td>
                        <td>{{ sale.commission }}%</td>
                        <td>{{ sale.washerCommission | currency:'GHS' }}</td>
                        <td>{{ sale.service.length>0 && sale.service[0].name }}</td>
                        <td>
                          <ul class="list-group">
                            <li *ngFor="let washer of sale.getwashers()">
                              {{ washer }}
                            </li>
                          </ul>
                        </td>
                        <td>
                          <ul class="list-group">
                            <li *ngFor="let ops of sale.getops()">
                              {{ ops }}
                            </li>
                          </ul>
                        </td>
                        <td>{{ sale.paymentType }}</td>
                        <td>{{ sale.total | currency:'GHS' }}</td>
                        <td>{{ sale.profit | currency:'GHS' }}</td>
                        <td><span class="badge {{ sale.getstatus() }}">{{ sale.status }}</span></td>
                        <td>{{ sale.trackingNumber }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div> <!-- .card-body -->
          </div> <!-- .card -->
        </div> <!-- / .col-md-8 -->
        <!-- Recent Activity -->
      </div> <!-- end section -->
    </div>
  </div> <!-- .row -->