<div class="row" [formGroup]="formGroup">
    <div class="col-md-4 my-4" formGroupName="services">
        <div class="card border">
          <div class="card-body">
            <h5 class="card-title">New Service</h5>
            <div class="form-group mb-3">
                <label for="simpleinput">Service Name</label>
                <input formControlName="name" type="text" id="simpleinput" class="form-control">
            </div>
            <div class="form-group mb-3">
              <label for="simpleinput">Service Commission</label>
              <input formControlName="commission" type="number" id="simpleinput" class="form-control">
          </div>
            <div class="form-group mb-3">
              <button [disabled]="loading" [ngSwitch]="loading" type="submit" class="btn btn-primary" (click)="save('s')">
                <span *ngSwitchCase="false">save</span>
                <div *ngSwitchCase="true" class="spinner-border"></div>
              </button>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-8 my-4" formGroupName="operations">
      <div class="border">
        <div class="card-body">
          <h5 class="card-title">Add Operation</h5>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="simpleinput">Enter Amount</label>
                <select formControlName="service" class="form-control select2" id="simple-select2">
                    <option value="">choose service</option>
                    <option *ngFor="let service of services$ | async" [value]="service._id">
                      {{ service.name }}
                    </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="simpleinput">Enter Amount</label>
                  <input formControlName="amount" type="number" id="simpleinput" class="form-control">
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="simpleinput">Add Description</label>
                <textarea formControlName="description" name="" id="" cols="30" rows="5" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group mb-3">
              <button [disabled]="loading" [ngSwitch]="loading" type="submit" class="btn btn-primary" (click)="save('o')">
                <span *ngSwitchCase="false">save</span>
                <div *ngSwitchCase="true" class="spinner-border"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- Bordered table -->
</div>
<div class="row">
    <div class="col-md-5 my-4">
        <div class="">
          <div class="card-body">
            <h5 class="card-title">services</h5>
            <table class="table table-bordered table-hover mb-0">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Commission</th>
                  <th>Date</th>
                  <!-- <th>Activate</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let service of services$ | async | paginate: { itemsPerPage: 20, currentPage: s };let i=index;">
                  <td>{{ service.getId() }}</td>
                  <td>{{ service.name }}</td>
                  <td>{{ service.commission }}</td>
                  <td>{{ service.createdAt | date }}</td>
                  <!-- <td>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="c1" [checked]="!service.getstatus()">
                      <label class="custom-control-label" for="c1"></label>
                    </div>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>

          <pagination-controls (pageChange)="s=$event"></pagination-controls>

        </div>
      </div> <!-- Bordered table -->
      <div class="col-md-7 my-4">
        <div class="">
          <div class="card-body">
            <div class="toolbar row mb-3">
              <div class="col">
                <h5 class="card-title">operations</h5>
              </div>
              <div class="col ml-auto">
                <div class="dropdown float-right">
                  <button class="btn btn-danger float-right ml-3" type="button" (click)="delete()">Delete</button>
                </div>
              </div>
            </div>
            <table class="table table-bordered table-hover mb-0">
              <thead class="thead-dark">
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Description</th>
                  <th>Date</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let operation of operations$ | async | paginate: { itemsPerPage: 20, currentPage: p };let i=index;">
                  <td>{{ operation.service?.name }}</td>
                  <td>{{ operation.amount | currency:'GHS' }}</td>
                  <td>{{ operation.description }}</td>
                  <td>{{ operation.createdAt | date }}</td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input (change)="operation.onCheck($event.target)" type="checkbox" [checked]="operation.checked">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <pagination-controls (pageChange)="p=$event"></pagination-controls>

        </div>
      </div> <!-- Bordered table -->
  </div>