<div [formGroup]="formGroup"  class="wrapper vh-100">
    <div class="row align-items-center h-100">
      <div class="col-lg-3 col-md-4 col-10 mx-auto text-center my-1">
        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" routerLink="login">
          <img width="100px" src="../../assets/img/logo.jpeg" alt="" class="avatar-img rounded-circle">
        </a>
        <br>
        <div class="my-100">
          <h1 *ngIf="alert.show" class="h6 mb-3 text-{{ alert.type }}">{{ alert.message }}</h1>
          <br>
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input  formControlName="email" type="email" id="inputEmail" class="form-control form-control-lg" placeholder="Email address" required="" autofocus="">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input formControlName="password" type="password" id="inputPassword" class="form-control form-control-lg" placeholder="Password" required="">
          </div>
          <div class="checkbox mb-3">
            <label>
              <input formControlName="rem" type="checkbox" value="remember-me"> Stay logged in </label>
          </div>
          <button [disabled]="loading" (click)="login()" class="btn btn-lg btn-primary btn-block" type="submit">Let me in</button>
          <p class="mt-5 mb-3 text-muted">© 2021</p>
        </div>
      </div>
    </div>
  </div>