<div class="row justify-content-center" [formGroup]="formGroup">
    <div class="col-12">
      <div class="row" *ngIf="currentUser$ | async as user">
        <div class="col-md-6" formGroupName="user" *ngIf="user?.account==='bay'">
          <div class="border mb-4">
            <div class="card-header">
              <strong class="card-title">subcription form</strong>
            </div>
            <div class="card-body">
              <div class="needs-validation" novalidate>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom04">Choose Duration Type*</label>
                    <select formControlName="durationType" class="custom-select" id="validationCustom04" required>
                      <option selected disabled value="">---</option>
                      <option value="days">Days</option>
                      <option value="weeks">Weeks</option>
                      <option value="months">Months</option>
                      <option value="years">Years</option>
                    </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Enter Duration*</label>
                    <input formControlName="duration" type="number" class="form-control" id="validationCustom02" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom04">Choose Mobile Money Network</label>
                    <select formControlName="accountIssuer" class="custom-select" id="validationCustom04" required>
                      <option selected value="">---</option>
                      <option value="MTN">Mtn</option>
                      <option value="VODAFONE">Vodafone</option>
                      <option value="AIRTELTIGO">AirtelTigo</option>
                    </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom05">Enter Mobile Money Number</label>
                    <input formControlName="accountNumber" type="text" class="form-control" id="validationCustom05" required>
                  </div>
                </div>
                <div class="form-row">
                    <small>Enter otp sent to your mobile money number</small>
                    <br>
                    <div class="input-group mb-3">
                        <input formControlName="otp" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button [disabled]="loading" (click)="sendOtp()" class="btn btn-warning" type="button" id="button-addon2">OTP</button>
                        </div>
                      </div>
                </div>
                <button [disabled]="loading" (click)="save()" class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div> <!-- /.card-body -->
          </div> <!-- /.card -->
        </div> <!-- /.col -->
        <div class="col-md-4" formGroupName="admin" *ngIf="user?.account==='super'">
          <div class="border mb-4">
            <div class="card-header">
              <strong class="card-title">Create Subscription</strong>
            </div>
            <div class="card-body">
              <div class="needs-validation" novalidate>
                <div class="form-row">
                  <div class="col-md mb-3">
                    <label for="validationCustom04">Choose a Bay</label>
                    <select formControlName="bay" class="custom-select" id="validationCustom04" required>
                      <option selected disabled value="">---</option>
                      <option [value]="bay._id" *ngFor="let bay of bays$ | async">
                        {{ bay.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md mb-3">
                    <label for="validationCustom04">Choose Duration Type*</label>
                    <select formControlName="durationType" class="custom-select" id="validationCustom04" required>
                      <option selected disabled value="">---</option>
                      <option value="days">Days</option>
                      <option value="weeks">Weeks</option>
                      <option value="months">Months</option>
                      <option value="years">Years</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md mb-3">
                    <label for="validationCustom02">Enter Duration*</label>
                    <input formControlName="duration" type="number" class="form-control" id="validationCustom02" required>
                  </div>
                </div>
                <button [disabled]="loading" (click)="issue()" class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div> <!-- /.card-body -->
          </div> <!-- /.card -->
        </div> <!-- /.col -->
      </div> <!-- end section -->
    </div> <!-- /.col-12 col-lg-10 col-xl-10 -->
  </div> <!-- .row -->