<ng-container [formGroup]="formGroup">
  <div class="row">
      <div class="col-md-4 my-4" formGroupName="category">
          <div class="card border">
            <div class="card-body">
              <h5 class="card-title">Add Expense Account</h5>
              <div class="form-group mb-3">
                  <label for="simpleinput">Name</label>
                  <input formControlName="name" type="text" id="simpleinput" class="form-control">
              </div>
              <div class="form-group mb-3">
                <label for="simpleinput">Description</label>
                <input formControlName="description" type="text" id="simpleinput" class="form-control">
            </div>
              <div class="form-group mb-3">
                <button [disabled]="loading" [ngSwitch]="loading" type="submit" class="btn btn-primary" (click)="saveCategory()">
                  <span *ngSwitchCase="false">save</span>
                  <div *ngSwitchCase="true" class="spinner-border"></div>
                </button>
              </div>
            </div>
          </div>
          <p class="my-3 mx-1">Expense Summary</p>
          <div class="row" *ngIf="expenses$ | async as expense">
            <div class="col-md-6 col-xl-6 mb-4">
              <div class="border bg-white">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
                      <p class="small mb-1">Total Expenses (#)</p>
                      <div class="row align-items-center no-gutters">
                        <div class="col-auto">
                          <span class="h3 mr-2 mb-0">{{ expense.count }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-6 mb-4">
              <div class="border bg-white">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
                      <p class="small mb-1">Total Expenses (₵)</p>
                      <div class="row align-items-center no-gutters">
                        <div class="col-auto">
                          <span class="h3 mr-2 mb-0">{{ expense.total | currency:'₵' }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-8 my-4" formGroupName="expense">
        <div class="card border">
          <div class="card-body">
            <h5 class="card-title">Add Expense</h5>
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="simpleinput">Choose Account</label>
                  <select formControlName="category" class="form-control select2" id="simple-select2">
                      <option value="" selected>----</option>
                      <option *ngFor="let category of categories$ | async" [value]="category._id">
                        {{ category.name }}
                      </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="simpleinput">Enter Amount</label>
                    <input formControlName="amount" type="number" id="simpleinput" class="form-control">
                  </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                  <div class="form-group mb-3">
                      <label for="simpleinput">Tax</label>
                      <input formControlName="tax" type="number" id="simpleinput" class="form-control">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="simpleinput">Reference#</label>
                    <input formControlName="reference" type="text" id="simpleinput" class="form-control">
                  </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="simpleinput">Notes</label>
                  <textarea formControlName="notes" name="" id="" cols="30" rows="5" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group col-md-6">
                  <label for="date-input1">Date Picker</label>
                  <div class="input-group">
                    <input formControlName="expenseDate" type="date" class="form-control drgpicker" id="date-input1" aria-describedby="button-addon2">
                  </div>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group mb-3">
                <button 
                  [disabled]="loading" 
                  [ngSwitch]="loading" 
                  type="submit" class="btn btn-primary" (click)="saveExpense()">
                  <span *ngSwitchCase="false">save</span>
                  <div *ngSwitchCase="true" class="spinner-border"></div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- Bordered table -->
  </div>
  <div class="row">
      <div class="col-md-4 my-4">
          <div class="">
            <div class="card-body">
              <div class="toolbar row mb-3">
                <div class="col">
                  <h5 class="card-title">Expense Accounts</h5>
                </div>
                <div class="col ml-auto">
                  <div class="dropdown float-right">
                    <button class="btn btn-danger float-right ml-3" (click)="deleteCategory()" type="button">Delete Account</button>
                  </div>
                </div>
              </div>
              <table class="table table-bordered table-hover mb-0">
                <thead class="thead-dark">
                  <tr>
                    <th>
                      <div class="custom-control custom-checkbox">
                        <input disabled type="checkbox" class="custom-control-input" id="all">
                        <label class="custom-control-label" for="all"></label>
                      </div>
                    </th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <!-- <th>Activate</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let category of categories$ | async | paginate: { itemsPerPage: 20, currentPage: s };let i=index;">
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input (change)="onCheck($event.target,category._id)" type="checkbox" class="custom-control-input" [id]="i">
                        <label class="custom-control-label" [for]="i"></label>
                      </div>
                    </td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.createdAt | date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <pagination-controls (pageChange)="s=$event"></pagination-controls>
  
          </div>
        </div> <!-- Bordered table -->
        <div class="col-md-8 my-2">
          <div class="">
            <div class="card-body">
              <div class="toolbar row mb-3">
                <div class="col-md-2 col-xl-2">
                  <h5 class="card-title">Expenses</h5>
                </div>
                <div class="col-md-3 col-xl-4" formGroupName="filter">
                  <span class="small py-1 px-2 rounded mr-2 d-lg-inline">
                    <label class="mx-2"  for="">Choose Account</label>
                    <select formControlName="account" class="bg-white border py-1 px-2 rounded mr-2 d-lg-inline" name="" id="">
                      <option value="" selected>---</option>
                      <option [value]="account._id" *ngFor="let account of categories$ | async">
                        {{ account.name }}
                      </option>
                    </select>
                  </span>
                </div>
                <div class="col-md-4 col-xl-4">
                  <span class="small py-1 rounded mr-2 d-lg-inline">
                    <label class="mx-2"  for="">Choose Duration</label>
                    <select (change)="onDuration($event.target)"  class="bg-white border py-1 px-2 rounded mr-2 d-lg-inline" name="" id="">
                      <option value="" selected>---</option>
                      <option value="days">Today</option>
                      <option value="weeks">This Week</option>
                      <option value="months">This Month</option>
                      <option value="years">This Year</option>
                    </select>
                  </span>
                </div>
                <div class="col-md-1 col-xl-1">
                  <div class="dropdown float-right">
                    <button  [ngSwitch]="loading$ | async" class="btn btn-warning float-right ml-3" (click)="filter()" type="button">
                      <span *ngSwitchCase="false" class="fe fe-filter fe-16" ></span>
                      <div *ngSwitchCase="true" class="spinner-border"></div>
                    </button>
                  </div>
                </div>
                <div class="col ml-auto">
                  <div class="dropdown float-right">
                    <button class="btn btn-danger float-right ml-3" (click)="deleteExpense()" type="button">
                      <span class="fe fe-delete fe-16"></span>
                    </button>
                  </div>
                </div>
              </div>
              <table class="table table-bordered table-hover mb-0">
                <thead class="thead-dark">
                  <tr>
                    <th>
                      <div class="custom-control custom-checkbox">
                        <input disabled type="checkbox" class="custom-control-input" id="all">
                        <label class="custom-control-label" for="all"></label>
                      </div>
                    </th>
                    <th>Expense Account</th>
                    <th>Tax</th>
                    <th>Reference#</th>
                    <th>Notes</th>
                    <th>Amount</th>
                    <th>Expense Date</th>
                    <th>Date Added</th>
                    <!-- <th>Remove</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let expense of (expenses$ | async)?.transactions | paginate: { itemsPerPage: 15, currentPage: p };let i=index;">
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input (change)="onCheck($event.target,expense._id)" type="checkbox" class="custom-control-input" [id]="i">
                        <label class="custom-control-label" [for]="i"></label>
                      </div>
                    </td>
                    <td>{{ expense.category?.name }}</td>
                    <td>{{ expense.tax }}</td>
                    <td>{{ expense.reference }}</td>
                    <td>{{ expense.notes }}</td>
                    <td>{{ expense.amount | currency:'₵' }}</td>
                    <td>{{ expense.expenseDate | date }}</td>
                    <td>{{ expense.createdAt | date }}</td>
                    <!-- <td>
                      <div class="custom-control custom-checkbox">
                        <input (change)="operation.onCheck($event.target)" type="checkbox" [checked]="operation.checked">
                      </div>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
  
            <pagination-controls (pageChange)="p=$event"></pagination-controls>
  
          </div>
        </div> <!-- Bordered table -->
    </div>
</ng-container>

