<div class="container-fluid" [formGroup]="formGroup">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="border bg-white mb-4">
              <div class="card-body">
                <p class="mb-2"><strong>Sales Desk</strong></p>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="simple-select2" class="control-label">Choose Service</label>
                    <select (change)="onService($event.target)" formControlName="service" class="form-control select2" id="simple-select2">
                        <option value="">---</option>
                        <option [value]="service._id" [attr.service]="service | json" *ngFor="let service of services$ | async">
                          {{ service.name }}
                        </option>
                    </select>
                  </div> <!-- form-group -->
                </div> <!-- form-row -->
                <div class="form-row" *ngIf="formGroup.get('service').valid">
                  <div class="form-group col-md-6">
                    <label for="multi-select2" class="control-label">Choose Washer/s*</label>
                    <div class="border">
                      <div class="card-body mh-200">
                        <div class="custom-control custom-checkbox mb-2" *ngFor="let washer of washers$ | async;let i=index">
                          <input [checked]="formGroup.get('washers')?.value.indexOf(washer._id) > -1" type="checkbox" (change)="onWasherCheck(washer,$event.target)" class="custom-control-input" [id]="i">
                          <label class="custom-control-label" [for]="i">{{ washer.getname() }}</label>
                        </div>
                      </div> <!-- / .card-body -->
                    </div>
                  </div> <!-- form-group -->
                  <div class="form-group col-md-6">
                    <label for="multi-select2" class="control-label">Choose Operations</label>
                    <div class="border">
                      <div class="card-body mh-200">
                        <div class="custom-control custom-checkbox mb-2" *ngFor="let operation of operations$ | async;let i=index">
                          <input [checked]="formGroup.get('operations')?.value.indexOf(operation._id) > -1" type="checkbox" (change)="onOperationCheck(operation,$event.target);" class="custom-control-input" [id]="'o'+i">
                          <label class="custom-control-label" [for]="'o'+i">{{ operation.description }}</label>
                        </div>
                      </div> <!-- / .card-body -->
                    </div>
                  </div> <!-- form-group -->
                </div>
              </div> <!-- /.card-body -->
            </div> <!-- /.card -->
            <div class="border bg-white mb-4">
              <div class="card-body">
                <p class="mb-2"><strong>Customer Details</strong></p>
                <div class="form-row">
                  <div class="form-group col-md">
                    <label for="date-input1"><small>choose from existing customers or enter new customer</small></label>
                    <div class="input-group">
                      <select formControlName="customer" (change)="onCustomer($event.target)" class="form-control select2" id="simple-select2">
                        <option value="">---</option>
                          <option [value]="customer._id" [attr.customer]="customer | json" *ngFor="let customer of customers$ | async">
                            {{ customer.name }}
                          </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="date-input1">Name</label>
                    <div class="input-group">
                      <input formControlName="customerName" type="text" class="form-control" aria-describedby="button-addon2">
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="time-input2">Phone Number</label>
                    <div class="input-group">
                      <div class="input-group">
                        <input formControlName="customerPhone" maxlength="10" type="tel" class="form-control" aria-describedby="button-addon2">
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- /.card-body -->
            </div> <!-- /.card -->
            <div class="border bg-white mb-4">
              <div class="card-body">
                <p class="mb-2"><strong>Date & Payment Method</strong></p>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="date-input1">Date Picker</label>
                    <div class="input-group">
                      <input formControlName="saleDate" type="date" class="form-control drgpicker" id="date-input1" aria-describedby="button-addon2">
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="time-input2" class="control-label">Choose Payment Method</label>
                    <div class="input-group">
                        <select formControlName="paymentType" class="form-control select2-multi" id="multi-select2">
                            <option value="">---</option>
                            <option value="credit">Credit</option>
                            <option value="momo">Mobile Money</option>
                            <option value="cash">Cash</option>
                        </select>
                    </div>
                  </div>
                </div>
              </div> <!-- /.card-body -->
            </div> <!-- /.card -->
            <div class="border bg-white mb-4" *ngIf="type==='update'">
                <div class="card-body">
                  <p class="mb-2"><strong>Transaction Details</strong></p>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="time-input2">Status</label>
                        <div class="input-group">
                            <select formControlName="status" class="form-control select2-multi" id="multi-select2">
                                <option value="">---</option>
                                <option value="credit">Credit</option>
                                <option value="pending">Pending</option>
                                <option value="failed">Failed</option>
                                <option value="paid">Paid</option>
                            </select>
                        </div>
                      </div>
                    <div class="form-group col-md-6">
                      <label for="date-input1">Tracking#</label>
                      <div class="input-group">
                        <input 
                          formControlName="trackingNumber" 
                          type="text" 
                          name="datetimes" 
                          class="form-control datetimes" 
                        />
                      </div>
                    </div>
                  </div>
                </div> <!-- /.card-body -->
              </div> <!-- /.card -->
            <div class="border bg-white mb-4">
              <div class="card-body">
                <p class="mb-2"><strong>Sale Summary</strong></p>
                <div class="form-group">
                  <label for="date-input1">Enter ID</label>
                  <input formControlName="serviceId" type="text" name="datetimes" class="form-control datetimes" />
                </div>
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
                      <span class="h2 mb-0">GHS{{ formGroup.get('total')?.value }}</span>
                      <p class="small text-muted mb-0">Total Cost</p>
                      <span class="badge badge-pill badge-success">commission:{{ formGroup.get('commission')?.value }}%</span>
                    </div>
                    <div class="col-auto">
                      <button [disabled]="loading" [ngSwitch]="loading" type="submit" class="btn btn-primary" (click)="save()">
                        <span *ngSwitchCase="false">
                          <span *ngIf="type==='new'">add sale</span>
                          <span *ngIf="type==='update'">update sale</span>
                        </span>
                        <div *ngSwitchCase="true" class="spinner-border"></div>
                      </button>
                    </div>
                  </div>
                  <div class="row align-items-center my-2">
                    <div class="col-auto">
                      <div class="custom-control custom-switch">
                        <input formControlName="sendSms" type="checkbox" class="custom-control-input" id="sms1" >
                        <label class="custom-control-label" for="sms1">Toggle to send sms to customer</label>
                      </div>
                    </div> <!-- .col -->
                  </div> <!-- .row -->
                </div>
              </div> <!-- /.card-body -->
            </div> <!-- /.card -->
          </div> <!-- /.col -->
    </div>
</div>