
<div class="row">
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="h3 mb-3 page-title">washers</h2>
        <table class="table table-bordered table-hover mb-0">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Location</th>
              <th>Phone Number</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let washer of washers$ | async | paginate: { itemsPerPage: 20, currentPage: p };let i=index;">
              <td>
                <div class="avatar avatar-sm">
                  <!-- <img src="./assets/avatars/face-3.jpg" alt="..." class="avatar-img rounded-circle"> -->
                  <p>{{ washer._id | uppercase }}</p>
                </div>
              </td>
              <td>
                <p class="mb-0">{{ washer.getname() || '' | uppercase }}</p>
                <small class="mb-0">{{ washer.gender }}</small>
              </td>
              <td>
                <p class="mb-0">{{ washer.location }}</p>
                <!-- <small class="mb-0 text-muted">Ap #331-7123 Lobortis Avenue</small> -->
              </td>
              <td>
                <p class="mb-0"><a>{{ washer.phone }}</a></p>
                <!-- <small class="mb-0 text-muted">Nigeria</small> -->
              </td>
              <td>{{ washer.createdAt | date }}</td>
              <td>
                <button class="btn btn-sm btn-primary" 
                  type="button"
                  (click)="formGroup.patchValue(washer);onedit=true"
                  >
                  edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div> <!-- .col-12 -->
    <div class="col-md-4 my-4">
      <div class="card-deck">
        <div class="border mb-4">
          <div class="card-header">
            <strong class="card-title">Add Washer</strong>
          </div>
          <div class="card-body" [formGroup]="formGroup">
            <div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">First Name*</label>
                  <input formControlName="fname" type="email" class="form-control" id="inputEmail4" placeholder="">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Last Name*</label>
                  <input formControlName="lname" type="text" class="form-control" id="inputPassword4" placeholder="">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Contact Number*</label>
                    <input formControlName="phone" type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputAddress">Location*</label>
                    <input formControlName="location" type="text" class="form-control" id="inputAddress" placeholder="">
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputState">Gender*</label>
                  <select formControlName="gender" id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip">Status*</label>
                  <select formControlName="status" id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="blocked">Blocked</option>
                    <option value="active">Active</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <button *ngIf="onedit" [disabled]="loading" [ngSwitch]="loading" type="submit" class="btn btn-danger mx-2" (click)="formGroup.reset();onedit=false;">
                  <span *ngSwitchCase="false">Cancel</span>
                  <div *ngSwitchCase="true" class="spinner-border"></div>
                </button>
                <button [disabled]="loading" [ngSwitch]="loading" type="submit" class="btn btn-primary" (click)="save()">
                  <span *ngSwitchCase="false">Submit</span>
                  <div *ngSwitchCase="true" class="spinner-border"></div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / .card-desk-->
    </div> <!-- .col-12 -->
  </div> <!-- .row -->