<div class="row justify-content-center" [formGroup]="formGroup">
    <div class="col-12">
      <h2 class="h3 mb-3 page-title">Bays</h2>
      <div class="row mb-4 items-align-center">
        <div class="col-md">
          <ul class="nav nav-pills justify-content-start">
            <li class="nav-item">
              <a class="nav-link active bg-transparent pr-2 pl-0 text-dark" href="#">Total<span class="badge badge-pill bg-warning text-dark ml-2">164</span></a>
            </li>
          </ul>
        </div>
        <div class="col-md-auto ml-auto text-right">
          <span class="small bg-white border py-1 px-2 rounded mr-2 d-none d-lg-inline">
            <a href="#" class="text-muted"><i class="fe fe-x mx-1"></i></a>
            <span class="text-muted">April 14, 2020 - May 13, 2020</span>
          </span>
          <button (click)="toggle=!toggle" type="button" class="btn"><span class="fe fe-plus fe-16 text-muted"></span>add</button>
          <button type="button" class="btn"><span class="fe fe-refresh-ccw fe-16 text-muted"></span></button>
        </div>
      </div>

      <div class="row justify-content-center" *ngIf="toggle">
        <div class="col-12 col-xl-10">
          <div class="row align-items-center my-4">
            <div class="col">
              <h2 class="h3 mb-0 page-title">Add Bay</h2>
            </div>
            <div class="col-auto">
              <button (click)="toggle=false;onEdit=false" type="button" class="btn btn-danger">Cancel</button>
            </div>
          </div>
          <div>
            <hr class="my-4">
            <small>Enter user basic details and a default password for authentication</small>
            <div class="form-row my-2">
              <div class="form-group col-md-6">
                <label for="firstname">Name</label>
                <input formControlName="name" type="text" id="firstname" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="lastname">Phone</label>
                <input formControlName="phone" type="text" id="lastname" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputPhone">Location</label>
                <input formControlName="location" type="text" class="form-control" id="inputPhone">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPhone">Address</label>
                <input formControlName="address" type="text" class="form-control" id="inputPhone">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState5">Status</label>
                <select formControlName="status" id="inputState5" class="form-control">
                    <option value="">---</option>
                  <option value="blocked">Blocked</option>
                  <option value="active">Active</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPhone">Email</label>
                <input formControlName="email" type="email" class="form-control" id="inputPhone">
              </div>
            </div>
        
            <hr class="my-4">
            <div class="form-row">
              <div class="col-md-6">
                <button (click)="save()" type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <br>

      <table class="table border table-hover bg-white">
        <thead class="thead-dark">
          <tr>
              <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Location</th>
            <th>Address</th>
            <th>Status</th>
            <th>Date Created</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <div *ngIf="loading$ | async" class="d-flex justify-content-center my-3">
            <div class="spinner-border"></div>
          </div>
          <tr *ngFor="let bay of bays$ | async | paginate: { itemsPerPage: 20, currentPage: p };let i=index;">
            <td>{{ bay._id | uppercase }}</td>
            <td>{{ bay.name }}</td>
            <td>{{ bay.phone }}</td>
            <td>{{ bay.email }}</td>
            <td>{{ bay.location }}</td>
            <td>{{ bay.address }}</td>
            <td>
                <span *ngIf="bay.status==='active'" class="dot dot-lg bg-success mr-2"></span>
                <span *ngIf="bay.status==='blocked'" class="dot dot-lg bg-danger mr-2"></span>
            </td>
            <td>{{ bay.createdAt | date }}</td>
            <td>
              <button (click)="edit(bay);toggle=true;onEdit=true" class="btn btn-primary">
                <span class="fe fe-edit-3"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <pagination-controls (pageChange)="p = $event"></pagination-controls>



    </div>
  </div> <!-- .row -->