<div class="row justify-content-center" *ngIf="saleSummary$ | async as summary">
  <div class="col-12">
    <h2 class="h3 mb-3 page-title">sales</h2>
    <div class="row" *ngIf="summary.getPaymentType">
      <div class="col-md-6 col-xl-2 mb-4">
        <div class="border bg-white">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <p class="small mb-1">Momo Sales</p>
                <div class="row align-items-center no-gutters">
                  <div class="col-auto">
                    <span class="h3 mr-2 mb-0">{{ summary.getPaymentType('momo')?.sales || 0 | currency:'₵' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-4">
        <div class="border bg-white">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <p class="small mb-1">Credit Sales</p>
                <div class="row align-items-center no-gutters">
                  <div class="col-auto">
                    <span class="h3 mr-2 mb-0">{{ summary.getPaymentType('credit')?.sales || 0 | currency:'₵' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-4">
        <div class="card border">
          <div class="card-body">
            <div class="row align-items-center">
              <!-- <div class="col-3 text-center">
                <span class="circle circle-sm bg-dark">
                  <i class="fe fe-16 fe-activity text-white mb-0"></i>
                </span>
              </div> -->
              <div class="col">
                <p class="small mb-1">Cash Sales</p>
                <span class="h3 mb-0">{{ summary.getPaymentType('cash')?.sales || 0 | currency:'₵' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-4">
        <div class="card border">
          <div class="card-body">
            <div class="row align-items-center">
              <!-- <div class="col-3 text-center">
                <span class="circle circle-sm bg-dark">
                  <i class="fe fe-16 fe-activity text-white mb-0"></i>
                </span>
              </div> -->
              <div class="col">
                <p class="small mb-1">Momo Transactions</p>
                <span class="h3 mb-0">{{ summary.getPaymentType('momo')?.count || 0 }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-4">
        <div class="card border">
          <div class="card-body">
            <div class="row align-items-center">
              <!-- <div class="col-3 text-center">
                <span class="circle circle-sm bg-dark">
                  <i class="fe fe-16 fe-activity text-white mb-0"></i>
                </span>
              </div> -->
              <div class="col">
                <p class="small mb-1">Cash Transactions</p>
                <span class="h3 mb-0">{{ summary.getPaymentType('cash')?.count || 0 }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-4">
        <div class="card border">
          <div class="card-body">
            <div class="row align-items-center">
              <!-- <div class="col-3 text-center">
                <span class="circle circle-sm bg-dark">
                  <i class="fe fe-16 fe-activity text-white mb-0"></i>
                </span>
              </div> -->
              <div class="col">
                <p class="small mb-1">Credit Transactions</p>
                <span class="h3 mb-0">{{ summary.getPaymentType('credit')?.count || 0 }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-4">
        <div class="card border">
          <div class="card-body">
            <div class="row align-items-center">
              <!-- <div class="col-3 text-center">
                <span class="circle circle-sm bg-dark">
                  <i class="fe fe-16 fe-activity text-white mb-0"></i>
                </span>
              </div> -->
              <div class="col">
                <p class="small mb-1">Number of Sales</p>
                <span class="h3 mb-0">{{ summary.getSummary('count') }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-4">
        <div class="card border">
          <div class="card-body">
            <div class="row align-items-center">
              <!-- <div class="col-3 text-center">
                <span class="circle circle-sm bg-dark">
                  <i class="fe fe-16 fe-activity text-white mb-0"></i>
                </span>
              </div> -->
              <div class="col">
                <p class="small mb-1">Total Sales</p>
                <span class="h3 mb-0">{{ summary.getSummary('sales') | currency:'₵' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-4">
        <div class="card border">
          <div class="card-body">
            <div class="row align-items-center">
              <!-- <div class="col-3 text-center">
                <span class="circle circle-sm bg-dark">
                  <i class="fe fe-16 fe-activity text-white mb-0"></i>
                </span>
              </div> -->
              <div class="col">
                <p class="small mb-1">Profit Earned</p>
                <span class="h3 mb-0">{{ summary.getSummary('profit') | currency:'₵' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-4">
        <div class="card border">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <p class="small mb-1">Total Washer/s Commission</p>
                <span class="h3 mb-0">{{ summary.getSummary('commissions') | currency:'₵' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end section -->
    <div class="row mb-4 items-align-center" *ngIf="summary.getSummary" [formGroup]="formGroup">
      <div class="col-md">
        <span class="small py-1 px-2 rounded mr-2 d-lg-inline">
          <label class="mx-2"  for="">Choose Washer</label>
          <select formControlName="washer" class="bg-white border py-1 px-2 rounded mr-2 d-lg-inline" name="" id="">
            <option value="" selected>---</option>
            <option [value]="washer._id" *ngFor="let washer of washers$ | async">
              {{ washer.getname() }}
            </option>
          </select>
        </span>
        <!-- <ul class="nav nav-pills justify-content-start">
          <li class="nav-item">
            <a class="nav-link active bg-transparent pr-2 pl-0 text-warning">All <span class="badge badge-pill bg-dark text-white ml-2">{{ summary.getSummary('count') }}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2">Total Sales <span class="badge badge-pill bg-white border ml-2">{{ summary.getSummary('sales') | currency:'₵' }}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2">Profit <span class="badge badge-pill bg-white border  ml-2">{{ summary.getSummary('profit') | currency:'₵' }}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2">Commission <span class="badge badge-pill bg-white border  ml-2">{{ summary.getSummary('commissions') | currency:'₵' }}</span></a>
          </li>
        </ul> -->
      </div>
      <div class="col-md-auto ml-auto text-right">
        <span class="small py-1 px-2 rounded mr-2 d-lg-inline form-group-row">
          <input formControlName="start" type="date" class="bg-white border py-1 px-2 rounded mr-2  d-lg-inline">
          <input formControlName="end" type="date" class="mx-2 bg-white border py-1 px-2 rounded mr-2  d-lg-inline">
        </span>
        <span class="small bg-white border py-1 px-2 rounded mr-2 d-none d-lg-inline">
          <a class=""><i class="fe fe-x mx-1"></i></a>
          <span class="">{{ formGroup.get('start').value | date }} - {{ formGroup.get('end').value | date }}</span>
        </span>
        <button (click)="generateInvoice()" type="button" class="btn btn-primary border py-1"><span class="fe fe-invoice fe-16">create invoice</span></button>
        <button (click)="filter()" type="button" class="btn" ><span class="fe fe-filter fe-16"></span></button>
        <button (click)="refresh()" type="button" class="btn"><span class="fe fe-refresh-ccw fe-16"></span></button>
      </div>
    </div>
    <table class="table border table-hover ">
      <thead class="thead-dark">
        <tr role="row">
          <th>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="all">
              <label class="custom-control-label" for="all"></label>
            </div>
          </th>
          <th>Edited</th>
          <th>Edited By</th>
          <th>Purchase Date</th>
          <th>Customer</th>
          <th>Commission</th>
          <th>W/Commission</th>
          <th>Service</th>
          <th>Washer</th>
          <th>Operations</th>
          <th>Payment Type</th>
          <th>Total</th>
          <th>Earns</th>
          <th>Status</th>
          <th>Tracking#</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <div *ngIf="loading$ | async" class="d-flex justify-content-center my-3">
          <div class="spinner-border"></div>
        </div>
        <tr [class.table-active]="getActive(sale)" *ngFor="let sale of sales$ | async | paginate: { itemsPerPage: 20, currentPage:p };let i=index">
          <td>
            <div class="custom-control custom-checkbox">
              <input (change)="selectSale(sale,$event.target)" type="checkbox" class="custom-control-input" [id]="i">
              <label class="custom-control-label" [for]="i"></label>
            </div>
          </td>
          <td><span class="badge" [ngClass]="{'badge-danger': sale.edited}">{{ sale.edited ? 'YES':'NO' }}</span></td>
          <td>{{ sale.editor?.fname }}</td>
          <td>{{ sale.saleDate | date }}</td>
          <td>{{ sale.customer?.name || 'N/A' | uppercase }}</td>
          <td>{{ sale.commission }}%</td>
          <td>{{ sale.washerCommission | currency:'₵' }}</td>
          <td>{{ sale.service?.name || 'N/A' | uppercase }}</td>
          <td>
            <ul class="list-group">
              <li *ngFor="let washer of sale.getwashers()">
                {{ washer }}
              </li>
            </ul>
          </td>
          <td>
            <ul class="list-group">
              <li *ngFor="let ops of sale.getops()">
                {{ ops }}
              </li>
            </ul>
          </td>
          <td>{{ sale.paymentType | uppercase }}</td>
          <td>{{ sale.total | currency:'₵' }}</td>
          <td>{{ sale.profit | currency:'₵' }}</td>
          <td><span class="badge {{ sale.getstatus() }}">{{ sale.status }}</span></td>
          <td>{{ sale.trackingNumber }}</td>
          <td>
            <button (click)="edit(sale)" class="btn btn-primary">
              <span class="fe fe-edit-3"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="p=$event"></pagination-controls>

  </div>
</div> <!-- .row -->