<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li (click)="onTab(tab)" class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link" [ngClass]="{'active': selected===tab}" id="home-tab" role="tab" aria-controls="home" aria-selected="true">
          {{ tab }}
      </a>
    </li>
</ul>