<div class="row justify-content-center" [formGroup]="formGroup">
    <div class="col-12">
      <h2 class="h3 mb-3 page-title">Users</h2>
      <div class="row mb-4 items-align-center">
        <div class="col-md">
          <ul class="nav nav-pills justify-content-start">
            <li class="nav-item">
              <a class="nav-link active bg-transparent pr-2 pl-0 text-dark" href="#">Total<span class="badge badge-pill bg-warning text-dark ml-2">{{ count$ | async }}</span></a>
            </li>
          </ul>
        </div>
        <div class="col-md-auto ml-auto text-right">
          <button (click)="toggle=!toggle" type="button" class="btn"><span class="fe fe-plus fe-16 text-muted"></span>add</button>
          <button type="button" class="btn"><span class="fe fe-refresh-ccw fe-16 text-muted"></span></button>
        </div>
      </div>

      <!-- form  -->
      <div class="row justify-content-center" formGroupName="user" *ngIf="toggle">
        <div class="col-12 col-xl-10">
          <div class="row align-items-center my-4">
            <div class="col">
              <h2 class="h3 mb-0 page-title">Add Contact</h2>
            </div>
            <div class="col-auto">
              <button (click)="toggle=false;reset()" type="button" class="btn btn-danger">Cancel</button>
            </div>
          </div>
          <div>
            <hr class="my-4">
            <h5 class="mb-2 mt-4">Personal</h5>
            <small>Enter user basic details and a default password for authentication</small>
            <div class="form-row my-2">
              <div class="form-group col-md-6">
                <label for="firstname">Firstname</label>
                <input formControlName="fname" type="text" id="firstname" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="lastname">Lastname</label>
                <input formControlName="lname" type="text" id="lastname" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputPhone">Phone</label>
                <input formControlName="phone" type="text" class="form-control" id="inputPhone">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState5">Gender</label>
                <select formControlName="gender" id="inputState5" class="form-control">
                    <option value="">---</option>
                  <option value="female">Female</option>
                  <option value="male">Male</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState5">Status</label>
                <select formControlName="status" id="inputState5" class="form-control">
                    <option value="">---</option>
                  <option value="blocked">Blocked</option>
                  <option value="active">Active</option>
                </select>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Email</label>
                  <input formControlName="email" type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPhone">Password</label>
                  <input formControlName="password" type="password" class="form-control" id="inputPhone">
                </div>
                <div class="form-group col-md-4" *ngIf="formGroup.get('user').get('account').value==='super'">
                  <label for="inputState5">Change User Account</label>
                  <select formControlName="account" id="inputState5" class="form-control">
                      <option value="">---</option>
                    <option value="super">Super</option>
                    <option value="bay">Bay</option>
                  </select>
                </div>
              </div>
            <div class="form-row">
                <div class="form-group col-md-6" *ngFor="let menu of menus[formGroup.get('user').get('account').value]">
                    <label for="multi-select2">Choose {{ menu.title }}</label>
                    <div class="custom-control custom-checkbox mb-2" *ngFor="let sub of menu.submenus;let i=index">
                        <input [checked]="checked(sub.link)" (change)="onChecked(sub.link,$event.target)" type="checkbox" class="custom-control-input" id="{{sub.link}}">
                        <label class="custom-control-label" for="{{sub.link}}">
                            <small>{{ sub.link }}</small>
                        </label>
                      </div>
                  </div>
              </div>
            <hr class="my-4">
            <div class="form-row">
              <div class="col-md-6">
                <button (click)="save()" type="button" class="btn btn-primary">Save user</button>
              </div>
            </div>
          </div>
        </div> <!-- .col-12 -->
      </div> <!-- .row -->
      <!-- End form -->
      <br>

      <table class="table border table-hover bg-white">
        <thead>
          <tr class="thead-dark">
            <th>Profile</th>
            <th>Bay</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Gender</th>
            <th>Roles</th>
            <th>Status</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <div *ngIf="loading$ | async" class="d-flex justify-content-center my-3">
            <div class="spinner-border"></div>
          </div>
          <tr *ngFor="let user of users$ | async | paginate: { itemsPerPage: 20, currentPage: p };let i=index;">
            <th>{{ user.account | uppercase }}</th>
            <td>{{ user.bay[0]?.name }}</td>
            <td>{{ user.fname }}</td>
            <td>{{ user.lname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.gender | uppercase }}</td>
            <td>
              <ul class="list-group">
                <li *ngFor="let role of user.role">
                  {{ role }}
                </li>
              </ul>
            </td>
              <td>
                <span *ngIf="user.status==='active'" class="dot dot-lg bg-success mr-2"></span>
                <span *ngIf="user.status==='blocked'" class="dot dot-lg bg-danger mr-2"></span>
              </td>
            <td>
              <button (click)="edit(user)" class="btn btn-primary">
                <span class="fe fe-edit-3"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="p = $event"></pagination-controls>

      
    </div>
  </div> <!-- .row -->