<aside class="sidebar-left border-right bg-white" id="leftSidebar" data-simplebar *ngIf="currentUser$ | async as user">
    <!-- <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
      <i class="fe fe-x"><span class="sr-only"></span></i>
    </a> -->
    <nav class="vertnav navbar navbar-light">
      <!-- nav bar -->
      <div class="w-100 mb-4 d-flex">
        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
          <img height="100px" src="../../../assets/img/logo.jpeg" class="avatar-img rounded-circle">
        </a>
      </div>
      <br>
      <ul class="navbar-nav flex-fill w-100 mb-2" *ngIf="user?.account==='bay'">
        <li class="nav-item dropdown">
          <a routerLink="dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
            <i class="fe fe-home fe-16"></i>
            <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

      <ng-container *ngFor="let menu of menus[user?.account]">
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>{{menu.title}}</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100" *ngFor="let sub of menu.submenus">
              <a class="nav-link" routerLink="{{ sub.link }}" *ngIf="user?.role.indexOf(sub.link)>-1">
                <i class="fe {{ sub.icon }} fe-16"></i>
                <span class="ml-3 item-text">{{ sub.name }}</span>
                <span *ngIf="sub.link==='subscriptions'" class="badge badge-pill badge-success">
                  {{ (currentUser$ | async)?.daysRemaining }}days
                </span>
              </a>
            </li>
          </ul>
      </ng-container>
      
      <div class="btn-box w-100 mt-4 mb-1">
        <a routerLink="subscribe" class="btn mb-2 btn-primary btn-lg btn-block">
          Subscribe
        </a>
      </div>
      <div class="btn-box w-100 mt-4 mb-1 my-10 justify-content-center">
        <a (click)="logout()" class="btn mb-2 btn-danger btn-sm btn-clear">
          <span class="text-white">Logout</span>
        </a>
      </div>
    </nav>
  </aside>