<div class="row justify-content-center" [formGroup]="controller.formGroup">
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="my-4">
        <app-tabs [tabs]="tabs" [selected]="index" (change)="onTab($event)"></app-tabs>
        <div>
          <div *ngIf="index==='profile'" class="row mt-5 align-items-center">
            <div class="col-md-3 text-center mb-5">
              <div class="avatar avatar-xl">
                <img src="../../assets/img/logo.jpeg" alt="..." class="avatar-img rounded-circle">
              </div>
            </div>
            <div class="col" *ngIf="currentUser$ | async as user">
              <ng-container *ngIf="user">
                <div class="row align-items-center">
                  <div class="col-md-7">
                    <h4 class="mb-1">{{ user?.fullname() }}</h4>
                    <!-- <p class="small mb-3"><span class="badge badge-dark">New York, USA</span></p> -->
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <p class="small mb-0 text-muted">{{ user.bay?.name }}</p>
                    <p class="small mb-0 text-muted">{{ user.bay?.location }}</p>
                    <p class="small mb-0 text-muted">{{ user.bay?.phone }}</p>
                  </div>
                </div>
              </ng-container>
              
            </div>
          </div>
          
          <ng-container *ngIf="index==='profile'">
            <div class="col-12 col-xl-10" formGroupName="profile">
              <div>
                <div class="form-row my-2">
                  <div class="form-group col-md-6">
                    <label for="firstname">Firstname</label>
                    <input formControlName="fname" type="text" id="firstname" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastname">Lastname</label>
                    <input formControlName="lname" type="text" id="lastname" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputPhone">Phone</label>
                    <input formControlName="phone" type="text" class="form-control" id="inputPhone">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState5">Gender</label>
                    <select formControlName="gender" id="inputState5" class="form-control">
                        <option value="">---</option>
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState5">Status</label>
                    <select formControlName="status" id="inputState5" class="form-control">
                        <option value="">---</option>
                      <option value="blocked">Blocked</option>
                      <option value="active">Active</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Email</label>
                      <input formControlName="email" type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPhone">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="inputPhone">
                    </div>
                  </div>
                <div class="form-row">
                    <div class="form-group col-md-6" *ngFor="let menu of menus[(currentUser$ | async)?.account]">
                        <label for="multi-select2">Choose {{ menu.title }}</label>
                        <div class="custom-control custom-checkbox mb-2" *ngFor="let sub of menu.submenus;let i=index">
                            <input disabled [checked]="controller.checked(sub.link)" (change)="controller.onChecked(sub.link,$event.target)" type="checkbox" class="custom-control-input" id="{{sub.link}}">
                            <label class="custom-control-label" for="{{sub.link}}">
                                <small>{{ sub.link }}</small>
                            </label>
                          </div>
                      </div>
                  </div>
              </div>
            </div> <!-- .col-12 -->
            <button type="submit" class="btn btn-primary">Save Change</button>
            <button (click)="logout()" type="submit" class="btn btn-danger mx-2">Logout</button>
          </ng-container>
          
          <ng-container *ngIf="index==='settings'">
            <div class="col-12 col-lg-10 col-xl-8" formGroupName="settings">
              <div class="my-4">
                <p>Control sms alert you will be notified.</p>
                <div class="list-group mb-5 shadow">
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <p class="text-muted mb-0">Toggle to send sms to a customer on every sale</p>
                      </div> <!-- .col -->
                      <div class="col-auto">
                        <div class="custom-control custom-switch">
                          <input formControlName="sms_sales_toggle" type="checkbox" class="custom-control-input" id="c21">
                          <label class="custom-control-label" for="c21"></label>
                        </div>
                      </div> <!-- .col -->
                    </div> <!-- .row -->
                  </div> <!-- .list-group-item -->
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <p class="text-muted mb-2">Message Content</p>
                        <textarea formControlName="sms_message" class="form-control" name="" id="" cols="30" rows="5"></textarea>
                      </div> <!-- .col -->
                    </div> <!-- .row -->
                  </div> <!-- .list-group-item -->
                </div> <!-- .list-group -->
                <hr class="my-4">
                <!-- second here -->
              </div> <!-- /.card-body -->
            </div> <!-- /.col-12 -->
            <button (click)="controller.saveSettings()" type="submit" class="btn btn-primary">Save Change</button>
          </ng-container>

          <ng-container *ngIf="index==='password'">
            <div class="row mb-4" formGroupName="password">
              <hr class="my-4">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputPassword4">Old Password</label>
                  <input formControlName="oldpassword" type="password" class="form-control" id="inputPassword5">
                </div>
                <div class="form-group">
                  <label for="inputPassword5">New Password</label>
                  <input formControlName="newpassword" type="password" class="form-control" id="inputPassword5">
                </div>
                <div class="form-group">
                  <label for="inputPassword6">Confirm Password</label>
                  <input formControlName="confirm" type="password" class="form-control" id="inputPassword6">
                </div>
              </div>
              <div class="col-md-6">
                <p class="mb-2">Password requirements</p>
                <p class="small text-muted mb-2"> To create a new password, you have to meet all of the following requirements: </p>
                <ul class="small text-muted pl-4 mb-0">
                  <li> Minimum 8 character </li>
                  <li>At least one special character</li>
                  <li>At least one number</li>
                  <li>Can’t be the same as a previous password </li>
                </ul>
              </div>
            </div>
            <button (click)="controller.updatePassword()" type="submit" class="btn btn-primary">Save Change</button>
          </ng-container>

        </div>
      </div> <!-- /.card-body -->
    </div> <!-- /.col-12 -->
  </div> <!-- .row -->