<div class="vertical  light">
    <div class="wrapper">
  
      <!-- nabar here -->
      <app-navbar></app-navbar>
      <!-- end navbar -->
  
      <!-- sidebar here -->
      <app-sidebar></app-sidebar>
      <!-- end sidebar -->

      <main role="main" class="main-content">

        <app-alerts></app-alerts>
          <router-outlet></router-outlet>
      </main>
  
    </div> <!-- .wrapper -->
  </div>
  